@model Activites_TP.Models.Participant

@{
    ViewData["Title"] = "Create";
}

<h1>Voter</h1>

<h4>Participant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="nom_participant" class="control-label"></label>
                <input asp-for="nom_participant" class="form-control" />
                <span asp-validation-for="nom_participant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresse_participant" class="control-label"></label>
                <input asp-for="adresse_participant" class="form-control" />
                <span asp-validation-for="adresse_participant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_activite" class="control-label"></label>
                <input asp-for="id_activite" class="form-control" />
                <span asp-validation-for="id_activite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Voter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
